/* Popup Styles */
#migration-helper { background:#6f8992; border:1px solid #ccc; padding:2px 10px; color:#fff !important; position:fixed; right:0; bottom:0; min-width:375px; }
#migration-helper h4 { color:#fff; }
#supported-migration { clear:both; padding:10px 15px; border:#555 1px solid; }
