<?php
    /* @var $this Mage_Core_Block_Template */
    $enabledText = $this->__('Stop Recording Migration Script');
    $disabledText = $this->__('Start Recording Migration Script');
    /* @var $helper Scandi_Migration_Helper_Data */
    $helper = Mage::helper('scandi_migration');
?>
<div id="migration-helper">
    <h4><?php echo $this->__('Migration Helper') ?></h4>
    <button id="toggle-migration-recording" class="f-left">
        <?php echo $helper->getMigrationRecordingEnabled() ? $enabledText : $disabledText ?>
    </button>
    <button id="view-supported-migration" class="f-right"><?php echo $this->__('View Supported Actions') ?></button>
    <div id="supported-migration" style="overflow:visible; display:none;">
        <h4>Currently Supported Entities</h4>
        <span>CMS Blocks</span><br/>
        <span>CMS Pages</span><br/>
        <span>System Configuration</span><br/>
        <span>Email Templates</span><br/>
        <span>Catalog Attributes (Group migration not yet supported)</span><br/>
        <span>Newsletter Templates</span><br/>
        <span>Checkout Terms and Conditions</span><br/>
    </div>
</div>
<script type="text/javascript">
    Migration = new MigrationHelper({
        popupBox: $('migration-helper'),
        toggleButton: $('toggle-migration-recording'),
        toggleUrl: '<?php echo Mage::getUrl('migration/index/togglerecord/') ?>',
        recordingEnabled: <?php echo $helper->getMigrationRecordingEnabled() ? 'true' : 'false' ?>,
        viewSupportedButton: $('view-supported-migration'),
        viewSupportedContent: $('supported-migration'),
        enabledText: '<?php echo $enabledText ?>',
        disabledText: '<?php echo $disabledText ?>'
    });
</script>